extends layout

block content
  include gitRibbon
  .container
    h1= title
    h2 Welcome to #{title}
    h3 Enter URL to be shortned
    form#urlForm(method='post', action='/shortner/create', autocomplete='on')
      .url
        label(for='url') URL:
        input#url(name='url', type='url', required)
      .key
        label(for='key') KEY: #{host}/
        input#key(name='key', type='text')
      .submit(style="margin:30px")
        input#submit(type='submit', value='Shorten URL')
    include links
    include donate
  script(src='/javascripts/client.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44811120-1', 'linkm.in');
    ga('send', 'pageview');