doctype 5
html
  head
    title= title
    block head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='http://gitcdn.org/libs/bitcoinate/0.2.1/index.min.js')
  body
    block content