.restore 
  | Current session key: 
  b #{key}
  form(action='/', method='post', data-ajax='false')
    lable Restore session: 
    input#restorekey(name='key', type='text', value='')
    input#restorebutton(type='submit', value='Restore')