body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#links td {
	padding: 5px;
}
.left {
  margin:30px;
  display: block;
  float: left;
}
.clear {
  clear:both;
}
#restorekey {
  width: 5em;
}
