body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#links th {
  text-align: center;
}
#links td {
	padding: 5px;
  text-align: center;
}
.left {
  margin:10px;
  display: block;
  float: left;
}
.clear {
  clear:both;
}
#restorekey {
  width: 5em;
}
#key {
  width: 5em;
  color: #666;
  padding: 1px 5px;
}
#url {

}
